<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" parallel="true" thread-count="2">
  <test name="BuyNowFlow1">
    <classes>
      <class name="ca.amazon.ta.kindle.KindleBuyNowFlowTest"/>
    </classes>
  </test>  
  <test name="BuyNowFlow2">
    <classes>
      <class name="ca.amazon.ta.kindle.KindleBuyNowFlowTest"/>
    </classes>
  </test>  
</suite>